.container{
    display: flex;
    border: 1px solid black;
}
.flex-column{
    flex-direction: column;
    align-items: center;
}
.flex-space{
    justify-content: space-around;
}
.container > div{
    border: 1px solid red;
}